<div>
  <h3 class="text-base font-semibold leading-6 text-gray-900"><%= t('stats.account_overview') %></h3>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500"><%= t('stats.testimonials_count') %></dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">0</dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500"><%= t('stats.video_testimonials_count') %></dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">0</dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500"><%= t('stats.subscription') %></dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">Basic</dd>
    </div>
  </dl>
</div>
